<!-- nav include start -->
{% if page.name != "index.md" %}
<div class="container">
    <div class="row">
        
        <hr>
        <ul class="pager">
            
            {% if page.previous.url %}
            <li class="next">
                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">Next Chapter &rarr;</a>
            </li>
            {% endif %}
            <!-- <li><a href="{{site.baseurl + '/'}}">home</a></li> -->
            {% if page.next.url %}
            <li class="previous">
                <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">&larr; Previous Chapter</a>
            </li>
            {% endif %}            

        </ul>

  </div>
  {% endif %}
  <!-- nav include end -->