---

layout: bootstrap


---




<script data-require="angular.js@*" data-semver="1.4.3" src="//code.angularjs.org/1.4.3/angular.js">
</script>
<script src="//cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
<!-- Latest compiled and minified CSS & JS -->
<script rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js"></script>
<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div class="container-fluid" ng-app="sampleApp">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Praekelt</h2>
      <form class="form-inline pull-right">
        Here is a list of all our open source work. It is hosted on GitHub...
        <input type="text" class="form-control" placeholder="search..." aria-describedby="basic-addon1" ng-model="searchText">
      </form>
    </div>

  </div>
  <div class="row" ng-controller="SampleCtrl">

    <div class="col-lg-8 col-lg-offset-2" ng-repeat="repo in repos | orderBy:'-updated_at' | filter: searchText">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Project: [[repo.name]]</h3>

          </div>
          <div class="panel-body" style="">[[repo.description]]</div>
          <div class="panel-footer">
            <small>Last updated: [[repo.updated_at | date: 'yyyy-MM-dd']]</small>

          </div>
        </div>



    </div>

  </div><!-- row end -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>UniversalCore</h2>
      <form class="form-inline pull-right">
        Here is a list of all our open source work. It is hosted on GitHub...
        <input type="text" class="form-control" placeholder="search..." aria-describedby="basic-addon1" ng-model="searchText2">
      </form>
    </div>

  </div>
  <div class="row" ng-controller="SampleCtrl2">

    <div class="col-lg-8 col-lg-offset-2" ng-repeat="repo in repos | orderBy:'-updated_at' | filter: searchText2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Project: [[repo.name]]</h3>

          </div>
          <div class="panel-body" style="">[[repo.description]]</div>
          <div class="panel-footer">
            <small>Last updated: [[repo.updated_at | date: 'yyyy-MM-dd']]</small>

          </div>
        </div>



    </div>

  </div><!-- row end -->
</div>



<script type="text/javascript">
  var app = angular.module("sampleApp", ["firebase"], function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
  });

  app.controller("SampleCtrl", function($scope, $http) {
    $http.get('https://api.github.com/search/repositories?q=user:praekelt')
      .success(function(response, status, headers) {
        // console.log(response);
        // console.log(headers);
        // console.log(status);
        $scope.repos = response.items;

      });

  });
  app.controller("SampleCtrl2", function($scope, $http) {
    $http.get('https://api.github.com/search/repositories?q=user:universalcore')
      .success(function(response, status, headers) {
        console.log(response);
        // console.log(headers);
        // console.log(status);
        $scope.repos = response.items;

      });

  });

</script>
